<!-- your code here -->
<div id="wrapper_main">


  <div id="group2051" class="group2051">
    <div id="group2051_frame" class="group2051_frame">
      <div id="group2051_frame_group21073" class="group2051_frame_group21073">
        <span id="group2051_frame_group21073_ell19"></span>
        <span id="group2051_frame_group21073_ell18"></span>
      </div>
      <span id="group2051_frame_text1">CopyBro</span>
    </div>
    <button type="button" name="group2051_button" id="group2051_button" onclick="common.do_nothing('Вы кликнули кнопку group2051_button с надписью &quot;Установить&quot;. Спасибо за отличную работу!');">Установить</button>
  </div>

  <div id="text2">
    <span id="text2_span1">Инвестируйте легко</span> <span id="text2_span2">и получайте доход</span>
  </div>
  
  <span id="text3" onmouseover="common.tooltip1('#rect240644795')" onmouseout="common.hide1('#rect240644795')">
    +51,9%
  </span>


  <span id="text4" onmouseover="common.tooltip1('#rect240644795')" onmouseout="common.hide1('#rect240644795')">
    годовых
  </span>

  <span id="text5" onmouseover="common.tooltip1('#rect240644795')" onmouseout="common.hide1('#rect240644795')">
    *
  </span>

  <div id="descr1">
    Выбирайте стратегии успешных трейдеров и копируйте сделки в авторежиме. Зарабатывайте легко и с минимальными рисками через мобильное приложение Сopybro.
  </div>

  <button type="button" name="group2041_button" id="group2041_button" onclick="common.do_nothing('Вы кликнули кнопку group2041_button с надписью &quot;Установить приложение&quot;. Спасибо за отличную работу!');">Установить приложение</button>

  <input type="image" src="/images/google_play_button.png" name="group21068_button" id="group21068_button" alt="Google Play" onclick="common.do_nothing('Вы кликнули кнопку group21068_button с надписью &quot;Google Play&quot;. Спасибо за отличную работу!');"/>

  <input type="image" src="/images/app_store_button.png" name="group21067_button" id="group21067_button" alt="App Store" onclick="common.do_nothing('Вы кликнули кнопку group21067_button с надписью &quot;App Store&quot;. Спасибо за отличную работу!');"/>

  <div id="rect240644795" class="vis_off">
    Общий показатель по среднегодовой доходности стратегий
  </div>

<!--//
Обертка группы "Счастливый инвестор" - начало 
//-->
  <div id="group21090">
    <div id="group21090_el">
    </div>
    <div id="group21090_bizman">
    </div>
    <div id="group21090_group2211">
      <img src="/images/coin.png" id="group21090_group2211_pic" width="84" height="107" alt="" title="" />
      <span id="group21090_group2211_title1">от 0,0₽</span>
      <span id="group21090_group2211_title2">Платите комиссию только с прибыли</span>
    </div>
    <div id="group21090_group2210">
      <img src="/images/proc_up.png" id="group21090_group2210_pic" width="82" height="112" alt="" title="" />
      <span id="group21090_group2210_title1">51,9%</span>
      <span id="group21090_group2210_title2">Средняя годовая доходность</span>
    </div>
    <div id="group21090_group2209">
      <img src="/images/group30_base.png" id="group21090_group2209_pic" width="85" height="118" alt="" title="" />
      <span id="group21090_group2209_title1">60 мин</span>
      <span id="group21090_group2209_title2">Сэкономленного времени в день</span>
    </div>


  </div>
<!--//
Обертка группы "Счастливый инвестор" - окончание 
//-->





<!--//
Обертка группы "Автоследование" - начало 
//-->

  <div id="rect_240644792">
    <div id="rect_240644792_title">
      Автоследование: <span id="rect_240644792_desc_span1">минимальные риски,</span> оптимальная доходность
    </div>
    <div id="rect_240644792_desc">
      Мы собрали для вас лучшие торговые стратегии с подтвержденными данными по прошлым сделкам и их доходности. Трейдер ежедневно следит за динамикой рынка, совершая сделки и балансируя риски и доходность стратегии.
    </div>
  </div>


<!--//
Обертка группы "Автоследование" - окончание 
//-->




<!--//
Просто картинка с разными элементами
//-->

  <img src="/images/other13_inside.png" id="other_13_pic" width="379" height="379" alt="" title="" />

<!--//
Hourglass 1 
Картинка "Песочные часы", повернутые на -35.88deg
hourglass2.png
... или ...
hourglass2_obj
//-->

<!--//
  <img src="/images/hourglass2.png" id="hourglass2_pic" width="191" height="198" alt="" title="" />
//-->

  <object data="/images/hourglass2.svg" id="hourglass2_obj" type="image/svg+xml" width="191" height="198">По задумке тут должен отобразиться объект /images/hourglass2.svg</object>

<!--//
title 
Стать инвестором просто
<span id="title1_span1">просто</span>
//-->

  <div id="title1">
    Стать инвестором <span id="title1_span1">просто</span>
    
  </div>

<!--//
3 блока Скачайте - Откройте - Выберите
//-->

  <div id="rect_3692">
    <div id="rect_3692_gr2186">
      <span id="rect_3692_gr2186_title">1</span>
      <div id="rect_3692_gr2186_descr1">
        Скачайте <span id="rect_3692_gr2186_descr1_span2">приложение CopyBro</span>
      </div>
      <div id="rect_3692_gr2186_descr2">
        Приложение бесплатно и доступно для платформ iOS и Android
      </div>
    </div>
  </div>

  <div id="rect_3692_2">
    <div id="rect_3692_2_gr2187">
      <span id="rect_3692_2_gr2187_title">2</span>
      <div id="rect_3692_2_gr2187_descr1">
        Откройте <span id="rect_3692_2_gr2187_descr1_span2">брокерский счет онлайн</span>
      </div>
      <div id="rect_3692_2_gr2187_descr2">
        Открытие счета - обязательная процедура,  фактически это личный кошелек для хранения средств и ценных бумаг.
      </div>
    </div>
  </div>
  
  <div id="rect_3692_3">
    <div id="rect_3692_3_gr2188">
      <span id="rect_3692_3_gr2188_title">3</span>
      <div id="rect_3692_3_gr2188_descr1">
        Выберите <span id="rect_3692_3_gr2188_descr1_span2">стратегии для автоследования</span>
      </div>
      <div id="rect_3692_3_gr2188_descr2">
        Подписавшись на стратегию, вы активируете услугу “Автоследование”, все ваши сделки будут дублироваться с трейдерскими! 
      </div>
    </div>
  </div>


  <button type="button" name="group21141_button" id="group21141_button" onclick="common.do_nothing('Вы кликнули кнопку group21141_button с надписью &quot;Установить приложение&quot;. Спасибо за отличную работу!');">Установить приложение</button>

  <div id="dialog_main" class="dialog_main" style="" title=" ===== Информационное сообщение ===== "></div>

</div>